
name: ci

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: [ self-hosted ]
    steps:

      - 
        name: Setup env files
        env:
          ENV_FILE: ${{ secrets.DEV_ENV }}
        run: |
          ls
          pwd
          echo "${ENV_FILE}" > /home/ubuntu/.env
      - 
        name: Spin up docker Container
        run: |
          docker rm -f container-app1 || true
          cd /home/ubuntu
          pwd
          ls
          docker run -d -v $(pwd)/.env:/home/node/app1/.env -p 5055:2010 --name ${{ secrets.CONTAINER_NAME }} hitesh87/myapp1
