

name: ci

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - 
        name: Printing path
        run: pwd
        
      - name : cd into ubuntu
        run: |
          cd ~/../
          pwd
          ls

      - 
        name: Setup env files
        env:
          ENV_FILE: ${{ secrets.DEV_ENV }}
        run: |
          cd  /home/ubuntu
          ls
          pwd
          echo "${ENV_FILE}" > ubuntu/.env
          
